@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

* {
    font-family: "Jost", sans-serif !important;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000000 !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.chatbar {
    height: 92vh;
}

.message-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.message-container::-webkit-scrollbar {
    display: none;
}

.message-input {
    background-color: #222222 !important;
    color: #eeeeee !important;
    border: 1px solid #222222 !important;
}

.in-message {
    border-radius: 4px 12px 12px 12px !important;
    background-color: #222222 !important;
    color: #eeeeee !important;
}

.out-message {
    border-radius: 12px 4px 12px 12px !important;
}

.greeting-container {
    height: 80vh;
}

.product-img {
    width: 200px;
}

.product-title {
    font-weight: 700;
    font-size: 1.4em;
    line-height: 1.2;
}

.product-rating {
    font-size: 1.2em;
}

.product-price {
    font-size: 2em;
}

.custom-bg-primary {
    background-color: #000000 !important;
}

.custom-bg-secondary {
    background-color: #333333 !important;
}

.custom-bg-tertiary {
    background-color: #555555 !important;
}

.custom-fg-primary {
    color: #eeeeee !important;
}

.custom-fg-secondary {
    color: #aaaaaa !important;
}
